*{
    margin:0;
}

body{ background-image:url("./background-purple-gradient-modern-vector-48874652.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    /* background-color: black; */
}

.allcontent{
    margin-top: 2em;
    color:white;
    /* background-image:url("./background-purple-gradient-modern-vector-48874652.jpg");
    background-repeat: no-repeat;
    background-size: cover; */
    background: linear-gradient(rgb(143, 17, 227),rgb(76, 6, 104),rgb(44, 4, 60));
}
.head{
    padding: 1em 1em;
    font-size: 3.5em;
    font-family:Arial, Helvetica, sans-serif;
    color: rgb(210, 151, 234);
    border: solid rgb(167, 88, 198);
    border-radius: 30px;
}
.list{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    margin-top: 10px;
    padding:5px 1em;
    background-color: rgb(167, 88, 198);
}
.list li {
    list-style: none;
    width:100%;
}
.list li button{
    padding:1em 25%;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(108, 6, 155);
    font-weight: bold;
    background-color: rgb(158, 64, 202);
    border-radius: 10px;
    border: 0;
    
}
.list li:hover{
    background-color: rgb(134, 41, 173);
}
.list button:hover{
    color: rgb(134, 41, 173);
}
input[type="radio"]{
    display: none;
}

.dis1{
    display:none; 
}
.dis2{
    display:none;
}

.team1, .team2{
    padding:1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.team_1 , .team_2{
    text-align: center;
    font-size: 1.5em;
    padding-bottom: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(185, 99, 227);
    font-weight: bold;
}
.team_1val, .team_1over,.team_1wick,.team_2val, .team_2over,.team_2wick{
    padding:10px;
    margin-top: 10px;
    width:50%;
    border-radius: 10px;
    border:solid 2px rgb(197, 167, 209);
    background-color: transparent;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    color: rgb(255, 255, 255);
}
.projected{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 5em;
}
.projected button{
    font-size: 1.2em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 10px;
    border:solid 2px rgb(185, 99, 227);
    color: rgb(174, 80, 218);
    font-weight:400;
    padding:8px;
    background: transparent; 
}

.info{
    font-size: 1.2em;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(192, 175, 200);
    font-weight:400;
    padding:8px;
    background: transparent;
    padding-bottom: 4em;
    margin-bottom: 3em; 
}

.res{
    padding: 1em;
    font-size: 1.2em;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(190, 117, 224);
    font-weight:400;
}
